<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=titlepage%></title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
   <%- include("header.ejs")%>
   <%
        for (let i of pro){
            %>
                <h3><%=i.id%>, <%=i.name%>, <%=i.price%></h3>
                <div class="pic">
                    <img src="<%=i.source%>" alt="">
                </div>
                <button>Add to cart</button>
            <%
        }
    %>

</body>
<footer>
    <%- include("footer.ejs")%>
</footer>
</html>